.hello {
  //position: absolute;

  &__graphics {
    display: flex;
    //position: relative;


    &__photo {

      width: 178px;

      border: 24px solid $bluelightest;
      border-radius: 50%;
    }

    &__cloud {


      &>p {
        padding: 16px 19px;
        border-radius: 16px;
        background-color: $blue;
        color: white;
      }

    }
  }
}